layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    tab name="w1" cwd="${PROJECT_DIR}" split_direction="vertical" {
        pane size="60%" {
            command "nvim"
            args "."
        }
        pane size="40%"
    }

    tab name="w2" cwd="/home/sdavis/localdev/wofstack2" {
        pane {
            name "diff"
            command "fish"
            args "-c" "zwf_pane 2 nvim -c 'DiffviewOpen main'"
        }
    }

    tab name="w3" cwd="/home/sdavis/localdev/wofstack3" {
        pane {
            name "diff"
            command "fish"
            args "-c" "zwf_pane 3 nvim -c 'DiffviewOpen main'"
        }
    }

    tab name="w4" cwd="/home/sdavis/localdev/wofstack4" {
        pane {
            name "diff"
            command "fish"
            args "-c" "zwf_pane 4 nvim -c 'DiffviewOpen main'"
        }
    }

    tab name="w5" cwd="/home/sdavis/localdev/wofstack5" {
        pane {
            name "diff"
            command "fish"
            args "-c" "zwf_pane 5 nvim -c 'DiffviewOpen main'"
        }
    }

    tab name="w6" cwd="/home/sdavis/localdev/wofstack6" {
        pane {
            name "diff"
            command "fish"
            args "-c" "zwf_pane 6 nvim -c 'DiffviewOpen main'"
        }
    }

    tab name="w7" cwd="/home/sdavis/localdev/wofstack7" {
        pane {
            name "diff"
            command "fish"
            args "-c" "zwf_pane 7 nvim -c 'DiffviewOpen main'"
        }
    }

    tab name="w8" cwd="/home/sdavis/localdev/wofstack8" {
        pane {
            name "diff"
            command "fish"
            args "-c" "zwf_pane 8 nvim -c 'DiffviewOpen main'"
        }
    }
}
