layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }

    tab name="w1" cwd="/home/sdavis/localdev/wofstack" split_direction="vertical" {
        pane size="60%" {
            command "yazi"
            args "/home/sdavis/localdev/wofstack"
        }
        pane size="40%"
    }

    tab name="w2" cwd="/home/sdavis/localdev/wofstack2" {
        pane
    }

    tab name="w3" cwd="/home/sdavis/localdev/wofstack3" {
        pane
    }

    tab name="w4" cwd="/home/sdavis/localdev/wofstack4" {
        pane
    }

    tab name="w5" cwd="/home/sdavis/localdev/wofstack5" {
        pane
    }

    tab name="w6" cwd="/home/sdavis/localdev/wofstack6" {
        pane
    }

    tab name="w7" cwd="/home/sdavis/localdev/wofstack7" {
        pane
    }

    tab name="w8" cwd="/home/sdavis/localdev/wofstack8" {
        pane
    }
}
